.container {
    padding: 50px;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.contentTitle {
    text-align: center;
    font-size: 70px;
}

.contentSubTitle {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

@media (max-width: 500px) {
    .contentTitle {
        font-size: 35px;
    }
}